<div class="control-panel-container">

	<div class="control-panel"
		 ng-class="{'active' : $ctrl.presenter.yolkoIsActive}"
		 ng-click="$ctrl.yolkoEval()">YOlKO
	</div>

	<div class="control-panel"
		 ng-class="{'active' : $ctrl.presenter.lostIsActive}"
		 ng-click="$ctrl.lostEval()">LOST
	</div>

	<div class="control-panel"
		 ng-class="{'active' : $ctrl.presenter.questionsIsActive}"
		 ng-click="$ctrl.questionsEval()">QUESTIONS
	</div>

	<div class="control-panel"
		 ng-class="{'active' : $ctrl.presenter.speedIsActive}"
		 ng-click="$ctrl.speedEval()">SPEED
	</div>

	<div class="control-panel"
		 ng-class="{'active' : $ctrl.presenter.hearingIsActive}"
		 ng-click="$ctrl.hearingEval()">HEARING
	</div>

	<div class="control-panel"
		 ng-class="{'active' : $ctrl.presenter.customIsActive}"
		 ng-click="$ctrl.customQuestionToAttendeesEval()">+
	</div>

</div>