<div hl-sticky="" class="control-panel-container">
	<div class="control-panel"
		 ng-class="{'active' : $ctrl.presenter.yolkoIsActive}"
		 ng-click="$ctrl.yolkoEval()">
		<i class="fa fa-smile-o fa-3x" aria-hidden="true"></i>
		YOlKO
	</div>

	<div class="control-panel"
		 ng-class="{'active' : $ctrl.presenter.lostIsActive}"
		 ng-click="$ctrl.lostEval()">
		<i class="fa fa-exclamation-triangle fa-3x" aria-hidden="true"></i>
		LOST
	</div>

	<div class="control-panel"
		 ng-class="{'active' : $ctrl.presenter.questionsIsActive}"
		 ng-click="$ctrl.questionsEval()">
		<i class="fa fa-question-circle-o fa-3x" aria-hidden="true"></i>
		QUESTIONS
	</div>

	<div class="control-panel"
		 ng-class="{'active' : $ctrl.presenter.speedIsActive}"
		 ng-click="$ctrl.speedEval()">
		<i class="fa fa-tachometer fa-3x" aria-hidden="true"></i>
		SPEED
	</div>

	<div class="control-panel"
		 ng-class="{'active' : $ctrl.presenter.hearingIsActive}"
		 ng-click="$ctrl.hearingEval()">
		<i class="fa fa-volume-up fa-3x" aria-hidden="true"></i>
		HEARING
	</div>

	<button class="control-panel disabled btn"
		 ng-class="{active : $ctrl.presenter.customQuestionToAttendeesIsActive && $ctrl.presenter.selectedQuestionForAttendees,
		  disabled : !$ctrl.presenter.selectedQuestionForAttendees}"
		 ng-click="$ctrl.customQuestionToAttendeesEval()"
		 ng-disabled="$ctrl.fire()">
		<i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
		CUSTOM
	</button>

</div>