.meetingjumbotronn {
  position: relative;
  height: 75vh;
  background: url(../../assets/backgrounds/landing.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;

  .container {
    color: #ffffff;
    .avatar-container {
      height:300px;
    }

    .votebtns-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .votebtn {
        margin: 20px 10px;
        padding: 25px;
      }
    }
  }

  .attendee-buttons-panel {
    position: absolute;
    background: rgba(34,34,34,0.25);
    box-shadow: 0 3px -6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 15px 15px 20px 15px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
  }
}


.question-container {
  max-width: 1000px;
  margin: 0 auto 50px;;
  padding: 30px 40px 10px 40px;
  background-color: #ecf0f1;

  .askbutton {
    margin-top: 20px;
    padding: 10px 20px;
  }

  .questions {
    margin-bottom: 20px;
  }
}

.quiz-container {
  margin-bottom: 40px;

  h1 {
    margin: 0;
  }

  button {
    margin: 20px;
  }
}
