<div class="avatar-and-controls-background" ng-class="avatar.backgroundColor">
{{avatar.backgroundColor}}
	<div class="yolko-navbar">
		<div class="fa fa-bars burger-bars" ui-sref="dashboard"></div>
		<img class="user-avatar" src="assets/avatars/profile_pic.png">
	</div>

	<span class="notification-indicator" ng-if="questionsToPresenter.length > 0"></span>

	<div class="second-row row">
		<div class="message-container">
			{{ avatar.message }}
		</div>
	</div>


	<div class="row">
		<div class="first-row container">
			<div class="avatar-container">
				<!--<i class="fa fa-smile-o" aria-hidden="true"></i>-->
				<img ng-src="{{ avatar.face }}"/>
			</div>
		</div>
	</div>


	<div class="row">

		<div class="third-row">
			<div class="control-btns-container2 col-sm-6 col-sm-push-3">

				<div class="like-button-container">
					<button class="sentiment-btn control-btn mobile-btn desktop-btn"
							ng-click="voteLike()"
							ng-disabled="disableLikeBtn">
						<img src="assets/icons/good-mood-icon.svg">
						<!--<i class="fa fa-smile-o" aria-hidden="true"></i>-->
					</button>
				</div>

				<div class="dislike-button-container">
					<button class="sentiment-btn control-btn mobile-btn desktop-btn"
							ng-click="voteDislike()"
							ng-disabled="disableDislikeBtn">
						<img src="assets/icons/bad-mood-icon.svg">
						<!--<i class="fa fa-frown-o" aria-hidden="true"></i>-->
					</button>
				</div>

			</div>



			<div class="control-btns-container1 col-sm-3 col-sm-pull-6">
				<button class="control-btn"
						title="Press if you can't hear!"
						ng-class="{ 'btn-control-active': attendee.volumeUp == 'yes' }"
						ng-click="attendee.volumeUp = 'yes'">
					<img src="assets/icons/volume-up-icon.svg"
					   ng-class="{ 'icon-control-active': attendee.volumeUp == 'yes' }">
				</button>

				<button class="control-btn"
						title="Press if you are lost!"
						ng-show="attendee.feeling ==='fine'"
						ng-click="panicButton(attendee)">
					<img src="assets/icons/panic-icon.svg">
				</button>
			</div>


			<div class="control-btns-container3 col-sm-3">



				<button class="control-btn"
						title="Press if you want the speaker to go slower"
						ng-class="{ 'btn-control-active': attendee.speed == -1 }"
						ng-click="attendee.speed = -1">
					<img src="assets/icons/back-forward-icon.svg">
					<!--<i class="fa fa-fast-backward" aria-hidden="true"-->
					   <!--ng-class="{ 'icon-control-active': attendee.speed == -1 }"></i>-->
				</button>

				<button class="control-btn"
						title="Press if you want the speaker to go faster"
						ng-class="{ 'btn-control-active': attendee.speed == 1 }"
						ng-click="attendee.speed = 1">
					<img src="assets/icons/fast-forward-icon.svg">
					<!--<i class="fa fa-fast-forward" aria-hidden="true"-->
					   <!--ng-class="{ 'icon-control-active': attendee.speed == 1 }"></i>-->
				</button>

			</div>
		</div>
	</div>
</div>


<!-- POP QUIZ -->
<div class="container " ng-show="showQuiz">
	<div class="row">
		<div class="col-md-12 well quiz-container">
			<h2 class="text-center">POP QUIZ</h2>
			<div id="quiz">
				<div id="question" class="pop-question">
					<p>{{ quizQuestion1.questionContent }}</p>
				</div>
				<div id="choices" class="pop-choices">
					<input type="radio"
						   id="availableAnsA"
						   name="availableAnsA"
						   ng-model="attendee.chosenAnswer"
						   ng-value="'A'"
						   class="pop-choice" >
					<label class="pop-choice" for="availableAnsA">
						<span class="pop-choice-letter">A</span>
						{{quizQuestion1.availableAns[0].content}}
					</label>

					<input type="radio"
						   name="availableAnsB"
						   id="availableAnsB"
						   ng-model="attendee.chosenAnswer"
						   ng-value="'B'"
						   class="pop-choice">
					<label class="pop-choice" for="availableAnsB">
						<span class="pop-choice-letter">B</span>
						{{quizQuestion1.availableAns[1].content}}
					</label>

					<input type="radio"
						   name="availableAnsC"
						   id="availableAnsC"
						   ng-model="attendee.chosenAnswer"
						   ng-value="'C'"
						   class="pop-choice">
					<label class="pop-choice" for="availableAnsC">
						<span class="pop-choice-letter">C</span>
						{{quizQuestion1.availableAns[2].content}}
					</label>

					<input type="radio"
						   name="availableAnsD"
						   id="availableAnsD"
						   ng-model="attendee.chosenAnswer"
						   ng-value="'D'"
						   class="pop-choice">
					<label class="pop-choice" for="availableAnsD">
						<span class="pop-choice-letter">D</span>
						{{quizQuestion1.availableAns[3].content}}
					</label>

				</div>
				<button class="btn pop-submit-btn"
						ng-click="submitAnswer()"
						ng-disabled="disableAllChoices">
					SUBMIT ANSWER
				</button>
			</div>
		</div>
	</div>
	<!-- QUIZ RESULTS CHART -->
	<div class="container quiz-results-container" ng-show="quizQuestion1.isShowingResultsToAttendees">
		<div class="ct-chart ct-major-tenth"></div>
	</div>

</div>


<!-- QUESTIONS TO PRESENTER -->
<div class="container panel question-container">

	<!-- ask question area - input filed and btn -->
	<form role="form">
		<div class="form-group">
			<textarea class="form-control question-input-field"
					  rows="4"
					  id="comment"
					  ng-model="questionContent"
					  type="text"
					  placeholder="Ask a question and the audience will vote for it..."
					  ng-keydown="addQuestionKeyDown($event)">
			</textarea>
			<!-- <span class="input-group-addon btn btn-success">Send</span> -->
			<div class="ask-button-container">
				<button class="btn askbutton"
						type="button"
						ng-click="addQuestionClick()">
					<span><i class="fa fa-comment" style="margin-right: 10px;"></i></span>
					ASK
				</button>
			</div>
		</div>
	</form>

	<ul class="list-group questions">
		<li class="list-group-item items-in-list"
			ng-repeat="(key, questionToPresenter) in questionsToPresenter | orderBy: '-counter'">
			<div class="question-content">
				{{ questionToPresenter.content }}
				<div class="question-content-time">
					{{ questionToPresenter.time | date: 'h:mm:ss a' }}
				</div>
			</div>
			<div class="question-voting-controls">
				<button class="btn btn-sm btn-default" ng-click="voteQuestionUp(questionToPresenter)">
					<i class="fa fa-chevron-up fa-2x"></i>
					<div class="question-voting-controls-text">
						{{ questionToPresenter.counter }}
					</div>
				</button>

				<!--<button class="btn btn-sm btn-default" ng-click="voteQuestionDown(questionToPresenter)">-->
				<!--<i class="fa fa-chevron-down"></i>-->
				<!--</button>-->
				<!--<button class="btn btn-sm btn-default" ng-click="removeQuestion(key)">&times;</button>-->
			</div>
		</li>
	</ul>
</div>

<!--<pre>-->
<!--These are all the questions asked: {{ questionsToPresenter | json }}-->
<!--</pre>-->
