@import '../app-styles.scss';

.meeting-page {
	margin: 0;
	padding: 0;
	position: relative;
	background-color: $base-background-color-purple;
	min-height: 100vh;
	color: $base-background-color-light;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;


	.avatar-deactive-container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	.avatar-deactive-message-bg {
		font-size: 80px;
		font-weight: bold;
		color: #B4B7C2;
		p {
			margin: 0;
		}
	}

	.avatar-deactive-message-sm {
		font-size: 30px;
		color: #FFFFFF;
	}

	@media screen and (max-width: 767px) {

		img {
			width: 60%;
			height: auto;
		}

		.avatar-deactive-message-bg {
			font-size: 30px;
		}
		.avatar-deactive-message-sm {
			font-size: 15px;
		}
	}

	.meeting-container {
		width: 100%;
		padding: 20px 0 0 0 ;
		margin: 0;
		display: flex;
		align-items: center;
		flex-direction: column;

		.meeting-row {
			min-height: 400px;
			width: 60%;
			display: flex;
			justify-content: center;
			flex-direction: column;

			@media screen and (max-width: 767px) {
				min-height: 200px;
				width: 100%;
			}

			.meeting-question {
				margin-bottom: 20px;
				font-size: 60px;
				color: $base-background-color-secondary;
				text-align: center;

				@media screen and (max-width: 767px) {
					font-size: 30px;
				}
			}

			.meeting-avatar-and-btns-container {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;

				.meeting-avatar-container {
					margin-top: 20px;
					max-height: 235px;
					display: flex;
					align-items: center;
					justify-content: center;

						img {
							height: 235px;
							width: 260px;
						}
				}

				.meeting-yolko-btns-container {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: row;


					.meeting-yolko-sentiment-btn {
						background-color: transparent;
						border-radius: 50%;
						border: 5px solid #fff;
						box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .3);
						opacity: 1;
						//transition: opacity 500ms ease;
						outline: none;
						font-size: 40px;
						height: 70px;
						width: 70px;
						margin: 20px 20px 60px 20px;
						transition: all 0.3s cubic-bezier(.25,.8,.25,1);

						&:hover {
							box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
						}

						&.btn-control-active {
							box-shadow: inset  0 0 15px rgba(0,0,0,0.6);
						}

						&:disabled {
							opacity: 0;
						}
					}

					.vote-submitted-feedback-icon {
						font-size: 1px;
						opacity: 0;
						transition: opacity 500ms ease;
					}

					.vote-submitted-feedback-icon-active {
						font-size: 80px;
						opacity: 1;
						animation: vote-feedback-icon-animation 5.5s 1 ease-out;

						@keyframes vote-feedback-icon-animation {
							0% {
								opacity: 1;
							}
							100% {
								opacity: 0;
							}
						}
					}

				}
			}

			.response-options {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: row;

				.option {
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 35px;
					cursor: pointer;
					background-color: $white;
					color: $base-background-color-purple;
					margin: 20px;
					width: 250px;
					height: 80px;
					box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
					transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

					&:hover {
						box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
					}


					@media screen and (max-width: 767px) {
						font-size: 18px;
						margin: 10px;
						width: 200px;
						height: 40px;
					}
				}

				.meeting-feedback-taken {
					font-size: 30px;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;

					.yolko-avatar-feedback-taken-container {
						height:120px;
						width: 120px;
						background-color: $base-color-secondary;
						border-radius:50%;
						display: flex;
						align-items: center;
						justify-content: center;
					}

					.text-feedback {
						display: flex;
						flex-direction: row;
					}

					h2 {
						margin-top: 10px;
					}

					.hand-emoji {
						margin-top: 5px;
						font-size: 40px;
					}

					p {
						font-size: 24px;
					}

					@media screen and (max-width: 767px) {
						.yolko-avatar-feedback-taken-container {
							height: 80px;
							width: 80px;
						}
						h2 {font-size: 30px;}
						.hand-emoji {
							margin-top: 5px;
							font-size: 30px;
						}
						p {font-size: 14px;}
					}
				}
			}
		}

		.meeting-row-border-bottom {
			border-bottom: 10px $white solid;
		}

		.meeting-row-alternate-color {
			background-color: $base-background-color-secondary;
			width: 100vw;

			.meeting-question {
				color: $base-background-color-purple;
			}

			.response-options{
				.meeting-feedback-taken {
					.yolko-avatar-feedback-taken-container {
						background-color: $base-background-color-purple;
					}
				}
			}
		}

		// yolko state
		.avatar {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 340px;
			border: 1px solid red;
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		}

		.meeting-quiz-container {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 40px;


			.meeting-pop-question {
				margin-bottom: 40px;

				@media screen and (max-width: 767px){
					font-size: 24px;
				}
			}

			.pop-choice {
				display: flex;
				align-items: center;
				background-color:$base-background-color-light;
				color:$base-font-color-dark;
				height: 95px;
				width: 800px;
				font-size:24px;
				margin-bottom: 15px;
				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
				transition: all 0.3s cubic-bezier(.25,.8,.25,1);

				&:hover {
					box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
				}

				@media screen and (max-width: 767px){
					height: 70px;
					width: 350px;
					font-size:15px;
				}

				.pop-choice-letter {
					padding: 20px 40px;
					border-right: 3px solid $base-background-color-purple;
					margin-right: 30px;
					font-size: 36px;
					color: $base-background-color-secondary;
					font-weight: bold;

					@media screen and (max-width: 767px){
						padding: 10px 20px;
						font-size:18px;
					}
				}
			}

			input[type="radio"] {
				display:none;
			}
			input[type="radio"]:checked + label {
				background-color: $base-background-color-secondary;
				color: $base-background-color-purple;
				box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

				.pop-choice-letter {
					color: $base-background-color-purple;
				}
			}

			.pop-submit-btn {
				background-color: $base-background-color-secondary;
				border-radius: 0;
				border: none;
				color: white;
				font-size: 25px;
				padding: 15px;
				margin-top: 30px;
				height:72px;
				min-width: 50%;
				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
				transition: all 0.3s cubic-bezier(.25,.8,.25,1);

				&:hover {
					box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
					color: white;
				}
				&:focus {
					outline: 0;
				}
			}
		}

		.meeting-quiz-results-container {
			display: flex;
			align-items: center;
			background-color: #fff;
			max-width: 800px;
			height: 400px;
			margin-bottom: 60px;
			padding: 0 0 20px 20px;
			font-size: 24px;
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

			.ct-label {
				font-size: 15px;
			}

			@media screen and (max-width: 767px) {
				width: 100%;
			}
		}

		.meeting-questions-to-presenter-container {
			width: 100vw;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding-top: 60px;

			@media screen and (max-width: 767px) {
				max-width: 350px;
				width: 100%;
			}

			.meeting-question {
				margin-bottom: 40px;
				font-size: 60px;
				text-align: center;

				@media screen and (max-width: 767px) {
					font-size: 30px;
				}
			}

			.meeting-question-to-presenter-input {
				width: 800px;
				padding: 10px 20px;
				height: 138px;
				font-size: 30px;
				box-sizing: border-box;
				color: $base-font-color-dark;
				border: none;

				@media screen and (max-width: 767px) {
					font-size: 15px;
					height: 70px;
					width: 350px;
				}
			}

			.ask-button-container {
				display: flex;
				align-items: center;
				justify-content: center;

				.askbutton {
					font-size: 30px;
					height: 72px;
					width: 385px;
					margin: 30px 0 60px 0;
					background-color: $base-background-color-secondary;
					color: white;
					border-radius: 0;
					box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
					transition: all 0.3s cubic-bezier(.25,.8,.25,1);

					&:hover {
						box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
					}

					@media screen and (max-width: 767px) {
						font-size: 25px;
						height: 72px;
						width: 235px;
					}

					&:focus {
						outline: 0;
					}
				}
			}

			.meeting-questions-list {
				width: 800px;

				@media screen and (max-width: 767px) {
					width: 100%;
				}

				.meeting-question-in-list {
					border-radius: 0;
					display: flex;
					flex-direction: row;
					position: relative;
					margin-bottom: 14px;
					box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
					transition: all 0.3s cubic-bezier(.25,.8,.25,1);

					&:hover {
						box-shadow: 0 0 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
					}

					.meeting-question-content {
						color:$base-font-color-dark;
						font-size: 24px;
						width: 80%;
						align-self: center;
						margin-bottom: 5px;

						@media screen and (max-width: 767px) {
							font-size: 15px;
						}

						.meeting-question-content-time {
							font-size: 12px;
							position: absolute;
							bottom:0;
							opacity: .3;
							padding-bottom: 2px;
						}
					}

					.meeting-question-voting-controls {
						width: 20%;
						display: flex;
						flex-direction: column;
						justify-content: center;
						text-align: center;
						color: $base-font-color-dark;

						button {
							background-color: transparent;
							border: none;
							margin: 0;
							padding: 0;

							&:focus {
								outline: 0;
							}
						}
						.meeting-voting-up-arrow {
							color: $base-background-color-secondary;
							opacity: 1;
						}
						.question-voting-controls-text {
							font-size: 35px;
							color:$base-font-color-dark;

							@media screen and (max-width: 767px) {
								font-size: 15px;
							}
						}
					}
				}

			}
		}

	}
}

.inactive-background-color {
	background-color: $inactive-background-color;
}
