//Variables
$base-background-color:           #242a36;
$base-background-color-secondary: #43c9c6;
$base-background-color-light:     #fff;
$base-background-color-purple:    #715CFF;

$base-font-color-light:           #fff;
$base-font-color-dark:            #555;

$line-color-likes:                green;
$line-color-dislikes:             red;

$border-dark-color:               #44474c;
$border-light-color:              #fff;


$panel-bad-background-color:      #d9534f;
$panel-bad-border-color:          #d43f3a;
$panel-bad-font-color:            $base-font-color-light;

$panel-soso-background-color:      #f0ad4e;
$panel-soso-border-color:          #eea236;
$panel-soso-font-color:            $base-font-color-light;

// bootstrap needs a container when you use a row. If not it adds 15px on the sides of the row for margin
.row { margin: 0}


.avatar-and-controls-background {
	position: relative;
	background-color: $base-background-color-purple;
	min-height: 100vh;
	width: 100%;
	color: white;

	&.red  {
		background-color: #d7d9d8;
	}

	&.green {
		background-color: #52cdfd;
	}

	&.blue {
		background-color: #7459fc;
	}

	.yolko-navbar {
		height: 80px;
		position: relative;

		.burger-bars {
			position: absolute;
			top: 50%;
			left: 10%;
			transform: translate(-50%, -50%);
			float: left;
			color: $base-background-color-secondary;
			font-size: 40px;
		}

		.user-avatar {
			height: 50px;
			width: 50px;
			background-color: #ccc;
			border-radius: 50%;
			position: absolute;
			top:50%;
			left: 90%;
			transform: translate(-50%, -50%);
			float: right;
		}
	}

	// Avatar
	.first-row {
		display: flex;
		align-items: center;
		justify-content: center;

		.avatar-container {
			margin: 70px;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 80%;

			@media screen and (max-width: 767px) {
				margin: 40px;

				img {
					width: 60%;
					height: auto;
				}
			}
		}

		.like-button-container {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.dislike-button-container {
			display: flex;
			align-items: center;
			justify-content: center;

		}
	}

	// Yolko Message
	.second-row {
		padding: 50px;
		.message-container {
			font-size: 48px;
			text-align: center;

			@media screen and (max-width: 767px) {
				font-size: 30px;
			}
		}
	}

	//Control Buttons
	.third-row {
		padding-bottom: 25px;
		bottom:0;
		width: 100%;
		position: absolute;

		@media screen and (max-width: 767px) {
			position: relative;
		}

		.control-btn {
			background-color: transparent;
			color: #fff;
			border-radius: 50%;
			border: 5px solid #fff;
			font-size: 55px;
			width: 100px;
			height: 100px;
			margin: 0 10px;
			outline: none;

			&.btn-control-active {
				box-shadow: inset  0 0 25px  rgba(0,0,0,0.6);
			}


			@media screen and (max-width: 767px) {
				font-size: 34px;
				height: 70px;
				width: 70px;
				margin: 25px 20px;
			}
		}

		.btns-and-label-container{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;

			h4 {
				font-size: 15px;
			}
		}

		.control-btns-container1 {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row;
		}

		.control-btns-container2 {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row;

			h4 {
				font-size: 25px;
				font-weight: 900;
				padding-top: 10px;
			}

			.sentiment-btns-container {
				display: flex;
				align-items: center;
				flex-direction: row;

				.sentiment-btn {
					background-color: #4FCDFE;
					border-radius: 50%;
					border: none;
					box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.16);

					&:disabled {
						opacity: .3;
					}
				}

			}
		}

		.control-btns-container3 {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

}


































.question-container {
	max-width: 1000px;
	margin: 30px auto 50px;
	padding: 70px 60px 50px 60px;
	background-color: #ecf0f1;

	@media screen and (max-width: 767px) {
		padding: 50px 20px 50px 20px;
	}

	textarea {
		resize: none;
	}

	.ask-button-container {
		display: flex;
		align-items: center;
		justify-content: center;

		.askbutton {
			height: 50%;
			width: 534px;
			margin-top: 20px;
			padding: 10px 20px;
			background-color: $base-background-color-purple;
			color: white;
			font-size: 25px;

			&:focus {
				outline: 0;
			}
		}
	}


	.questions {
		margin-bottom: 20px;
	}
}

.quiz-container {
	text-align: center;
	padding: 15px 50px 50px 50px;

	h2 {
		font-size: 35px;
		font-weight: 900;
		color: #624DD6;
	}

	.pop-question {
		font-size: 30px;
		margin-bottom: 30px;
		text-align: left;
	}

	.pop-choice {
		word-wrap: break-word;
		display:inline-block;
		background-color:#ddd;
		height: 80px;
		line-height: 80px;
		width: 100%;
		font-size:16px;
		text-align: left;

		.pop-choice-letter {
			padding: 20px 30px;
			border-right: 1px solid white;
			margin-right: 20px;
			font-size: 25px;
			color: #333;
			opacity: .4;
		}
	}

	input[type="radio"] {
		display:none;
	}
	input[type="radio"]:checked + label {
		background-color: #624DD6;
		color: #fff;

		.pop-choice-letter {
			color: #fff;
			opacity: 1;
		}
	}

	.pop-submit-btn {
		background-color: $base-background-color-purple;
		border: none;
		color: white;
		font-size: 25px;
		padding: 15px;
		margin-top: 30px;
		width: 50%;
		&:focus {
			outline: 0;
		}
		&:hover {
			color: white;
		}
	}
}

// chart styles
.ct-label {
	font-size: 1.3rem;
}
.ct-series-a .ct-bar {
	stroke: #624DD6;
}
.ct-series-b .ct-bar {
	stroke: #ddd;
}
.ct-series-c .ct-bar {
	stroke: #43c9c6;
}
.ct-series-d .ct-bar {
	stroke: #555;
}

.questions {
	.items-in-list {
		display: flex;
		flex-direction: row;
		position: relative;

		.question-content {
			width: 80%;
			align-self: center;
			margin-bottom: 5px;

			.question-content-time{
				position: absolute;
				bottom:0;
				opacity: .3;
				font-size: 10px;
				padding-bottom: 2px;
			}
		}

		.question-voting-controls{
			width: 20%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			opacity: .5;

			button {
				background-color: transparent;
				border: none;
				margin: 0;
				padding: 0;

				&:focus {
					outline: 0;
				}
			}

			.question-voting-controls-text {
				font-size: 25px;
			}
		}
	}
}


.notification-indicator {
	height: 20px;
	width: 20px;
	position: fixed;
	top: 30px;
	right: 50%;
	background-color: lightcoral;
	opacity: .5;
	border-radius: 50%;
	z-index: 999;
	animation: pulsing-attendees 1.5s infinite ease-out;

	@keyframes pulsing-attendees {
		0% {box-shadow: 0px 0px 0px 0px lightcoral;}
		100% {box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 0.0);}
	}
}
