.meetingjumbotronn {
  position: relative;
  height: 70vh;
  background-color: #690996;
  min-height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .container {
    color: #ffffff;
    .avatar-container {

    }

    .votebtns-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .votebtn {
        margin: 20px 10px;
        padding: 20px;
      }
    }
  }

  .attendee-buttons-panel {
    position: absolute;
    background: rgba(34,34,34,0.25);
   box-shadow: 0 3px -6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1);
   border-radius: 5px;
    padding: 15px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
  }
}





.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  .button {
    margin: 10px;
  }
}

.color-indicator {
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  .color {
    height: 200px;
    width: 200px;
  }
}
