.meetingjumbotronn {
  position: relative;
  background: url(../../assets/backgrounds/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px 0 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px; }
  .meetingjumbotronn .container {
    color: #ffffff; }
    .meetingjumbotronn .container .avatar-container {
      height: 300px; }
    .meetingjumbotronn .container .votebtns-container {
      display: flex;
      align-items: center;
      justify-content: center; }
      .meetingjumbotronn .container .votebtns-container .votebtn {
        margin: 20px 10px 30px 10px;
        padding: 25px 35px;
        background-color: #43c9c6; }
        .meetingjumbotronn .container .votebtns-container .votebtn .icon-flipped {
          transform: scaleX(-1);
          -moz-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          -ms-transform: scaleX(-1); }
  .meetingjumbotronn .attendee-buttons-panel {
    background: rgba(34, 34, 34, 0.25);
    padding: 15px; }
    .meetingjumbotronn .attendee-buttons-panel .btn-secondary-outline {
      background-color: transparent; }
      .meetingjumbotronn .attendee-buttons-panel .btn-secondary-outline:hover {
        color: #43c9c6;
        text-decoration: none; }
      .meetingjumbotronn .attendee-buttons-panel .btn-secondary-outline:focus {
        outline: 0; }
    .meetingjumbotronn .attendee-buttons-panel .btn-control-active {
      box-shadow: inset 0 3px 15px 3px rgba(0, 0, 0, 0.125); }
      .meetingjumbotronn .attendee-buttons-panel .btn-control-active .icon-control-active {
        color: #43c9c6; }

.question-container {
  max-width: 1000px;
  margin: 0 auto 50px;
  padding: 30px 40px 10px 40px;
  background-color: #ecf0f1; }
  .question-container .askbutton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #43c9c6;
    color: white; }
    .question-container .askbutton:focus {
      outline: 0; }
  .question-container .questions {
    margin-bottom: 20px; }

.quiz-container {
  margin-bottom: 40px; }
  .quiz-container h1 {
    margin: 0; }
  .quiz-container button {
    margin: 20px; }
    .quiz-container button:focus {
      outline: 0; }

.questions .items-in-list {
  display: flex;
  flex-direction: row;
  position: relative; }
  .questions .items-in-list .question-content {
    width: 80%;
    align-self: center;
    margin-bottom: 5px; }
    .questions .items-in-list .question-content .question-content-time {
      position: absolute;
      bottom: 0;
      opacity: .3;
      font-size: 10px;
      padding-bottom: 2px; }
  .questions .items-in-list .question-voting-controls {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: .5; }
    .questions .items-in-list .question-voting-controls button {
      background-color: transparent;
      border: none;
      margin: 0;
      padding: 0; }
      .questions .items-in-list .question-voting-controls button:focus {
        outline: 0; }
    .questions .items-in-list .question-voting-controls .question-voting-controls-text {
      font-size: 25px; }
