<og-navbar></og-navbar>
<div class="meeting-page"
	 ng-class="{'inactive-background-color': !presenter.yolkoIsActive && !presenter.lostIsActive && !presenter.questionsIsActive && !presenter.speedIsActive && !presenter.hearingIsActive && !presenter.customQuestionToAttendees}">

	<!--Show when there is no action from the Presenter-->
	<div class="avatar-deactive-container" ng-if="!presenter.yolkoIsActive && !presenter.lostIsActive && !presenter.questionsIsActive && !presenter.speedIsActive && !presenter.hearingIsActive && !presenter.customQuestionToAttendees">
		<img ng-src="{{ avatarDeactive.face }}">
		<p class="avatar-deactive-message-bg">
			We are good here...
		</p>
		<p class="avatar-deactive-message-sm">No feedback is needed right now. Check back in a few  </p>
	</div>


	<!--Show when there is action from the Presenter-->
	<div class="meeting-container container">

		<!--YOLKO-->
		<div class="meeting-row" ng-if="presenter.yolkoIsActive">
			<div class="meeting-question">
				How are you feeling?
			</div>

			<div class="meeting-avatar-and-btns-container">

				<div class="meeting-avatar-container">
					<img ng-src="{{ avatar.face }}">
				</div>

				<div class="meeting-yolko-btns-container">
					<button class="yolko-dislike-btn meeting-yolko-sentiment-btn"
							ng-click="voteDislike()"
							ng-disabled="disableSentimentBtns">
						<!--<img src="assets/icons/bad-mood-icon.svg">-->
						<i class="fa fa-frown-o" aria-hidden="true"></i>
					</button>

					<span>
						<div class="vote-submitted-feedback-icon"
							 ng-class="{'vote-submitted-feedback-icon-active': disableSentimentBtns}"
							 ng-if="disableSentimentBtns">
							<i class="fa fa-check-circle-o" aria-hidden="true"></i>
						</div>
					</span>

					<button class="yolko-like-btn meeting-yolko-sentiment-btn"
							ng-click="voteLike()"
							ng-disabled="disableSentimentBtns">
						<i class="fa fa-smile-o" aria-hidden="true"></i>
					</button>
				</div>

			</div>
		</div>


		<!--LOST-->
		<div class="meeting-row meeting-row-alternate-color" ng-if="presenter.lostIsActive">
			<div class="meeting-question">
				Are you lost?
			</div>

			<div class="response-options">
				<div class="option">
					Yep
				</div>
				<div class="option">
					Nope
				</div>
			</div>
		</div>


		<!--HEARING-->
		<div class="meeting-row" ng-if="presenter.hearingIsActive">
			<div class="meeting-question">
				Can you hear?
			</div>

			<div class="response-options">
				<div class="option">
					Yep
				</div>
				<div class="option">
					Nope
				</div>
			</div>
		</div>



		<!--SPEED-->
		<div class="meeting-row meeting-row-alternate-color" ng-if="presenter.speedIsActive">
			<div class="meeting-question">
				How do you want me to go?
			</div>

			<div class="response-options">
				<div class="option">
					Faster
				</div>
				<div class="option">
					Slower
				</div>
			</div>
		</div>


	</div>


</div>


