<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">

		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="main-logo pull-left" href="#/"></a>
		<div class="collapse navbar-collapse">

			<ul class="nav navbar-nav navbar-right navtext">
				<li><a  ng-href="#/home">Homes</a></li>
				<li><a  ng-href="#/meeting">Meeting</a></li>
				<!-- <li><a  ng-href="#/login">Login</a></li> -->
				<!-- <li><a  ng-href="#/register">Register</a></li> -->
			</ul>

		</div>
	</div>
</div>
