<nav class="navbar navbar-default">
	<div class="container landing-nav-contents">
		<img src="assets/logo.svg"/>

		<div class="landing-links-container">
			<span ui-sref="meeting" style="margin: 0 100px;">Meeting</span>
			<span ui-sref="dashboard">Dashboard</span>
		</div>
	</div>
</nav>

<div class="jumbotron">



	<div class="landing-content-jumbotron container">
		<div class="text-landing-introduction-text-container">
			<h1>Hi, I'm Yolko</h1>
			<p>I read minds.</p>
			<p>Just kidding… With some team effort, I show and measure what an audience is feeling, prioritize their questions and give out pop quizzes. The best thing..? It’s all in <span>real time</span>.</p>
			<p>Simply put, <span>I am the the audience.</span></p>
		</div>
		<div class="landing-yolko-jumbotron">
			<img src="assets/avatars/great-full-face.svg"/>
		</div>
	</div>
</div>

<div class="landing-join-button-container container">
	<button ui-sref="meeting">Join the class</button>
</div>

<div class="landing-marketing-pointers-container container">
	<div class="marketing-pointer">
		<div>
			<img src="assets/icons/speedometer.svg"/>
		</div>
		<h4>Quantify feelings</h4>
		<p>Giving and receiving feedback happens less than it should and often comes too late. Yolko an interactive
			graphical representation of any presentation’s mood in <span>real time</span>. He shows the
			collective emotion.</p>
	</div>
	<div class="marketing-pointer">
		<div>
			<img src="assets/icons/presentation.svg"/>
		</div>
		<h4>Disrupt a presentation</h4>
		<p>The delivery of a message is what counts when presenting an idea or subject to an audience. Yolko makes
			this interaction fun and engaging. The message sticks better when you make it memorable.</p>
	</div>
	<div class="marketing-pointer">
		<div>
			<img src="assets/icons/watch.svg"/>
		</div>
		<h4>Immediate results</h4>
		<p>All data is 100% real time. This lets the presenter adjust his or her delivery with the audience’s needs, improving their performance. No more blank stares when the presenter ask: <i>“Any questions...?”</i></p>
	</div>
</div>



<div class="row">
	<div class="landing-grey-skew">
		<div class="screenshots-container container">
			<div class="sheenshot-meeting-page">
				<img src="assets/yolko-meeting-page.png"/>
			</div>
			<div>
				<p><span>It’s all about synchronization.</span> Any inputs from the audience are logged and displayed in the Dashboard for the presenter to see in real time.</p>
			</div>
			<div class="sheenshot-dashboard-page">
				<img src="assets/yolko-dashboard-page.png"/>
			</div>
		</div>
	</div>
</div>



<div class="landing-questions-row">
	<div class="landing-questions-container container">
		<p><span>Take control of questions.</span> The audience can ask questions anonymously. Since they all see the same questions, they can be voted-up collectively.</p>
		<div class="landing-questions-screenshot-container">
			<img src="assets/questions-screenshot.png"/>
		</div>
	</div>
</div>

<div class="landing-custom-questions-row">
	<div class="landing-custom-question-container container">
		<div class="landing-custom-questions-screenshot-container">
			<img src="assets/custom-question-screenshot.png"/>
		</div>
		<p><span>Strike back.</span> The presenter can also ask questions to the audience in the form of a Pop Quiz. All their answers are then logged to gauge the collective understanding of a subject.</p>
	</div>
</div>


<div class="landing-footer">
	<div class="landing-avatars-container">
		<div class="landing-footer-yolko-sm">
			<img src="assets/avatars/yolko-footer-happy.svg"/>
		</div>
		<div class="landing-footer-yolko-md">
			<img src="assets/avatars/yolko-footer-kiss.svg"/>
		</div>
		<div class="landing-footer-yolko-lg">
			<img src="assets/avatars/yolko-footer-movitaved.svg"/>
		</div>
	</div>
	<div class="text-footer-container">
		<p><span>Ready to get started?</span></p>
		<p>Ping us.</p>
		<button><a href="mailto:ogonzal87@gmail.com?Subject=Hello%20again" target="_top">GET IN TOUCH</a></button>
	</div>

</div>