<!-- Jumbotron -->
<div class="jumbotron jumbotronhome">
	<div class="container">
		<div class="row rows-home">
			<div class="col-sm-6">
				<h1>Hi, I am Yolko</h1>
				<p class="lead">I read minds.</p>
				<p class="lead">Just kidding. With some team effort, I tell you what your audience is thinking and feeling. The best thing? Is all real time.</p>
				<p class="lead">I will be joining your meeting today. Get excited.</p>
				<p class="lead"><a class="btn btn-info btn-xlg" ui-sref="meeting" role="button">Join the Class</a></p>
			</div>
			<div class="col-sm-6 icons-home">
				<img src="assets/avatars/nosepick.png"/>
			</div>
		</div>
	</div>
</div>

<!-- Main Content -->
<div class="container homemain">

	<div class="row rows-home">
		<div class="col-sm-6 hidden-xs icons-home">
			<img src="assets/avatars/shout.png"/>
		</div>
		<div class="col-sm-6">
			<h2 class="padding-paragraph">Yolko speaks for your audience</h2>
			<p>
				Yolko is an interactive graphical representation of any presentation’s mood in real time. If you want to know what your audience is <strong>really</strong> feeling and/or thinking, just ask <strong>"Yolko, how are you feeling?"</strong>.
				<!-- Learn how to write the code that downloads and displays messages, photos, and videos that timeout after a few seconds. Then create the code that deletes them from the back-end to make them "self destruct." -->
			</p>
		</div>
	</div>

	<div class="row rows-home">
		<div class="col-sm-6">
			<h2 class="padding-paragraph">Yolko is always watching</h2>
			<p>
				Yolko is powered by state of the art technologies giving you <strong>real time</strong> feedback on topics you are covering. It also tells you how you are doing throughout the presentation and whether or not you are doing a good job at communicating your thoughts.
			</p>
		</div>
		<div class="col-sm-6 hidden-xs icons-home">
			<img src="assets/avatars/iamlooking.png"/>
		</div>
	</div>

	<div class="row rows-home">
		<div class="col-sm-6 hidden-xs icons-home">
			<img src="assets/avatars/faill.png"/>
		</div>
		<div class="col-sm-6 ft-copy">
			<h2 class="padding-paragraph">Yolko improves audience success</h2>
			<p>
				Yolko is a must for classrooms as he measures the level of stress while covering your subject. This let's you adjust the presentation to their needs therefore improving their performance. You can even keep track of questions from the audience. <strong>No more blank stares whenever you ask: "Any questions, class..?"</strong>
				<!-- e'll teach you how to upload images, video files, and messages to Parse.com's cloud servers. Then learn how to retrieve the data by setting up custom queries that download and display them in the app.  -->
			</p>
		</div>
	</div>
</div>

<!-- Footer -->
<footer class="site-footer"></footer>
