<div class="container">


  <div class="well color-indicator">
    <div class="color"
          ng-class="colorRed ? 'red' : 'green'">

    </div>
  </div>

  <div class="input-group buttons">
    <button class="btn btn-success btn-lg button"
            ng-click="voteLike()"
            ng-disabled="disableLikeBtn">
            Like
    </button>
    <button class="btn btn-danger btn-lg button"
            ng-click="voteDislike()"
            ng-disabled="disableDislikeBtn">
            Dislike
    </button>
  </div>


  <pre>
    {{ attendee | json }} {{ dislikePercent }}
  </pre>

  <pre>
    {{ attendees | json }}
  </pre>
</div>
