.jumbotronhome {
	background: url(../../assets/backgrounds/Rectangle.png) no-repeat;
	background-size: 100% 100%;
	color: #ffffff;
  min-height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
	clip-path: polygon(0 0, 5600px 0, 5600px 87%, 0 100%);
	-webkit-clip-path: polygon(0 0, 5900px 0, 5900px 80%, 0 100%);

	h1 {
		font-size: 200px;
	}

	p {
		opacity: 1;
	}

	.yolko-greeting {
		font-size: 130px;
	}

  .btn-xlg {
    font-size: 30px;
    margin-top: 30px;
    width: 100%;
    padding-top: 12px;
    padding-bottom:12px;
	  background-color: #43c9c6;
  }
}

.rows-home {
  padding: 0 25px;
}

.icons-home {
  display: flex;
  align-items: center;
  flex-direction: column;
	justify-content: center;
}


.homemain {
  max-width: 900px;
  margin-bottom: 100px;

  .padding-paragraph {
    padding-top: 50px;
	  color: #624DD6;
  }
}
