

.jumbotronhome {
	background: url(../../assets/backgrounds/Rectangle.png) no-repeat;
	background-size: 100% 100%;
	color: #ffffff;
  min-height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
	-webkit-clip-path: polygon(0 0, 1900px 0, 1900px 80%, 0 100%);
	clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);


  .btn-xlg {
    font-size: 30px;
    margin-top: 30px;
    width: 100%;
    padding-top: 12px;
    padding-bottom:12px;
	  background-color: #43c9c6;
  }
}

.rows-home {
  padding: 0 25px;
}

.icons-home {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.homemain {
  max-width: 900px;
  margin-bottom: 100px;

  .padding-paragraph {
    padding-top: 50px;
	  color: #624DD6;
  }
}
