/* Use this selector to override the line style on a given series */
.ct-series-a .ct-line  {
  /* Set the colour of this series line */
  stroke: green;
}

/* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
.ct-series-a .ct-point {
  /* Colour of your points */
  stroke: green;
}


/* Use this selector to override the line style on a given series */
.ct-series-b .ct-line  {
  /* Set the colour of this series line */
  stroke: red;
}

/* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
.ct-series-b .ct-point {
  /* Colour of your points */
  stroke: red;
}
