$font-weight: 100;
$label-font-size: 18px;

.dashboard-background {
	background-color: #FBFBFB;
	min-height: 1070px;


	.num {
		font-size: 64px;
	}
	.dashboard-label {
		font-size: $label-font-size;
		font-weight: 100;
	}

	.dashboard--presentation-ctrls-container {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-around;
		font-weight: $font-weight;
		padding: 153px 0 80px 0;

		.num-attendees-container {
			display: flex;
			align-items: center;
			flex-direction: column;
		}

		.stopwatch-container{
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;

			.chronometer {
				font-size: 48px;
			}

			.media-controls {
				font-size: 28px;
			}
		}

		.dashboard--questions-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

	}

	.dashboard--second-row-container{
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-around;
		font-size: 64px;
		font-weight: $font-weight;
		height: 107px;
		padding: 80px 0 42px 0;

		&.likes-container {
			display: flex;
			align-items: center;
			flex-direction: column;
		}

		.mood-container {
			display: flex;
			flex-direction: column;
			text-align: center;
			width: 274px;


			.circles {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				.circle-mood {
					height: 62px;
					width: 62px;
					border-radius: 50%;
					background-color: #6DEFFF;
				}

				.non-filled {
					@extend .circle-mood;
					background-color: transparent;
					border: 6px solid #5A48FC;
				}
			}

		}

		.dislikes-container{
			display: flex;
			align-items: center;
			flex-direction: column;
		}
	}

	.dashboard--primary-graphs-container {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-around;
		padding: 92px 0 42px 0;
		//background-color: pink;
		//.percentage {
		//	font-size: 48px;
		//	font-weight: bold;
		//}

		.cant-hear-container {
			display: flex;
			align-items: center;
			flex-direction: column;

		}

		.speed-container {
			display: flex;
			align-items: center;
			flex-direction: column;
		}

		.lost-container {
			display: flex;
			align-items: center;
			flex-direction: column;
		}
	}


}

