<!--   DASHBOARD -->
<div class="container">

  <div class="row">
	  <div class="col-md-3 col-sm-6">
		  <!-- START WIDGET -->
		  <div class="panel panels-dashboard">
			  <div class="panel-body">
				  <div class="col-xs-4 icons-dashboard-center">
					  <i class="fa fa-user fa-3x icon"></i>
				  </div>
				  <div class="col-xs-8">
					  <h3>Attendees</h3>
					  <h4>{{ numAttendees || 0}}</h4>
				  </div>

				  <div class="reset-btns">
					  <button uib-popover="This resets the Yolko Avatar"
							  popover-trigger="mouseenter"
							  class="resetbutton"
							  ng-click="resetYolko()">
						  Reset Yolko
					  </button>
				  </div>
			  </div>
		  </div>
	  </div>

	  <div class="col-md-3 col-sm-6">
		  <!-- START WIDGET -->
		  <div class="panel panels-dashboard"
			   ng-class="volumeUpPercent.class">
			  <div class="panel-body">
				  <div class="col-xs-4 icons-dashboard-center">
					  <i class="fa fa-volume-off fa-3x icon"></i>
				  </div>
				  <div class="col-xs-8">
					  <h3>Can't Hear</h3>
					  <h4 ng-show="volumeUpPercent.content  || 'We are good!'">{{ volumeUpPercent.content || 'We are good!'}}</h4>
				  </div>

				  <div class="reset-btns">
					  <button class="resetbutton"
							  ng-click="resetVolumeTracker()"
							  uib-popover="This resets the Volume"
							  popover-trigger="mouseenter">
						  Reset
					  </button>
				  </div>
			  </div>
		  </div>
	  </div>

	  <div class="col-md-3 col-sm-6 ">
		  <!-- START WIDGET -->
		  <div class="panel panels-dashboard "
			   ng-class="speedPercent.class">
			  <div class="panel-body">
				  <div class="col-xs-4 icons-dashboard-center">
					  <i class="fa fa-rocket fa-3x icon"></i>
				  </div>
				  <div class="col-xs-8">
					  <h3>Speed</h3>
					  <h4>{{ speedPercent.content }}</h4>
				  </div>

				  <div class="reset-btns">
					  <button class="resetbutton"
							  ng-click="resetSpeedTracker()"
							  uib-popover="This resets the Speed"
							  popover-trigger="mouseenter">
						  Reset
					  </button>
				  </div>
			  </div>
		  </div>
	  </div>


	  <div class="col-md-3 col-sm-6">
		  <!-- START WIDGET -->
		  <div class="panel panels-dashboard" ng-class="panicPercent.class">
			  <div class="panel-body">
				  <div class="col-xs-4 icons-dashboard-center">
					  <i class="fa fa-fire-extinguisher fa-3x icon"></i>
				  </div>
				  <div class="col-xs-8">
					  <h3>Lost</h3>
					  <h4 ng-if="panicPercent.content || 'We are good!'">{{ panicPercent.content || 'We are good!'}}</h4>
				  </div>

				  <div class="reset-btns">
					  <button class="resetbutton"
							  ng-click="resetPanicTracker()"
							  uib-popover="This resets the Panic"
							  popover-trigger="mouseenter">
						  Reset
					  </button>
				  </div>
			  </div>
		  </div>
	  </div>
  </div>
</div>



<div class="panel panel-default panel-start-stop-btns">
	<div class="panel-body start-stop-meeting-container">
		<button class="btn btn-default resetbutton"
				ng-click="resetEverything()">
			Reset Everything
		</button>

		<button class="btn btn-success btns"
				ng-click="startPresentation()">
			Start the Meeting
		</button>

		<button class="btn btn-danger btns"
            	ng-click="stopPresentation()">
      		Stop the Meeting
		</button>

		<button class="btn btn-info"
            	ng-click="deleteEverything()">
      		Start New Presentation
		</button>
	</div>
</div>

<!-- <pre>
  Speed Percent: {{speedPercent.value}}<br>
  Volume up Percent: {{volumeUpPercent.value}}<br>
  Dislike Percent: {{dislikePercent}}<br>
</pre> -->


<div class="container results">

	<div class="container">
		<h3>Live Data Coming In</h3>

		<!-- CHART -->
		<div class="ct-chart ct-major-tenth"></div>
		<!-- CHART -->

		<!-- <pre>
      		LikeVotes: {{ intervalLikeVotes }} <br>
      		Like Line Arr: {{ likeLine }} <br>
      		DislikeVotes: {{ intervalDislikeVotes }} <br>
      		Dislike Line Arr: {{ dislikeLine }} <br>
    	</pre> -->
	</div>

</div><!-- container results end -->

<div class="container quiz-dashboard">
	<div>
		<button class="btn btn-success" ng-click="showQuizForm = !showQuizForm">
			Fire a Pop Quiz
		</button>
	</div>

	<form role="form" ng-show="showQuizForm">
		<div class="form-group">
			<br>
			<label for="question">Question:</label>
			<input type="text"
				   class="form-control"
				   id="question"
				   placeholder="What would you like to ask everyone?"
				   ng-model="questionContent">
		</div>
		<div class="form-group">
			<label for="choice-a">A</label>
			<input type="text"
				   class="form-control"
				   id="choice-a"
				   placeholder="I'm a choice option"
				   ng-model="choiceA">
			<div class="checkbox">
				<label>
					<input type="checkbox"
						   ng-model="correctAnsA"
						   ng-click="isCorrectAnsA = !isCorrectAnsA">
					Correct Answer
				</label>
			</div>
		</div>
		<div class="form-group">
			<label for="choice-b">B</label>
			<input type="text"
				   class="form-control"
				   id="choice-b"
				   placeholder="I'm a choice option"
				   ng-model="choiceB">
			<div class="checkbox">
				<label>
					<input type="checkbox"
						   ng-model="correctAnsB"
						   ng-click="isCorrectAnsB = !isCorrectAnsB">
					Correct Answer
				</label>
			</div>
		</div>
		<div class="form-group">
			<label for="choice-c">C</label>
			<input type="text"
				   class="form-control"
				   id="choice-c"
				   placeholder="I'm a choice option"
				   ng-model="choiceC">
			<div class="checkbox">
				<label>
					<input type="checkbox"
						   ng-model="correctAnsC"
						   ng-click="isCorrectAnsC = !isCorrectAnsC">
					Correct Answer
				</label>
			</div>
		</div>
		<button ng-click="pushQuestion()" class="btn btn-default">Submit</button>
	  </form>
</div>

<!--   DASHBOARD END-->

<!--   QUESTIONS -->
<div class="panel panel-default" ng-if="allQuestionsFromAttendees.length > 0">
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="question in allQuestionsFromAttendees">
			    {{ question.content }}
				<span>
					<!-- <button class="btn btn-sm btn-default alignright" ng-click="removeQuestion(question)">X</button> -->
				</span>
			</li>
		</ul>
  	</div>
</div>
<!--   QUESTIONS END -->