<div class="dashboard-background">

	<div class="container">
		<div class="dashboard--presentation-ctrls-container">
			<div class="num-attendees-container">
				<div class="num">{{numAttendees}}</div>
				<div class="dashboard-label">ATTENDEES</div>
			</div>

			<div class="stopwatch-container">
				<div class="chronometer">
					00:00:00
				</div>
				<div class="media-controls">
					Play Pause Stop
				</div>
			</div>

			<div class="dashboard--questions-container">
				<div class="num">{{allQuestionsFromAttendees.length}}</div>
				<div class="dashboard-label">QUESTIONS</div>
			</div>
		</div>
		{{dislikePercent}}

		<div class="dashboard--second-row-container">
			<div class="likes-container">
				<div class="num">{{likeVotesArray.length}}</div>
				<div class="dashboard-label">LIKES</div>
			</div>

			<div class="mood-container">
				<div class="circles">
					<div class="circle-mood" ng-class="{'is-pulsing': dislikePercent > 50}"></div>
				</div>
				<div class="dashboard-label">MOOD</div>
			</div>


			<div class="dislikes-container">
				<div class="num">{{dislikeVotesArray.length}}</div>
				<div class="dashboard-label">DISLIKES</div>
			</div>
		</div>

		<div class="dashboard--primary-graphs-container">

			<div class="cant-hear-container">
				<div class="cant-hear-graph">
					<div class="ct-chart-volume"></div>
					<div class="percentage" ng-class="volumeUpPercent.class">
						{{volumeUpPercent
						.content}}%
					</div>
				</div>
				<div class="dashboard-label">CAN'T HEAR</div>
			</div>

			<div class="speed-container">
				<div class="speed-graph">
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div class="dashboard-label">SPEED</div>
			</div>

			<div class="lost-container">
				<div class="panic-graph">
					<div class="ct-chart-lost"></div>
					<div class="percentage">{{panicPercent.content}}%</div>
				</div>
				<div class="dashboard-label">LOST</div>
			</div>

		</div>
	</div>
</div>

