//Variables
$base-background-color:           #242a36;
$base-background-color-secondary: #43c9c6;
$base-background-color-light:     #fff;
$base-background-color-purple:    #624DD6;

$base-font-color-light:           #fff;
$base-font-color-dark:            #555;

$line-color-likes:                $base-background-color-purple;
$line-color-dislikes:             #dddddd;

$border-dark-color:               #44474c;
$border-light-color:              #fff;


$panel-bad-background-color:      #d9534f;
$panel-bad-border-color:          #d43f3a;
$panel-bad-font-color:            $base-font-color-light;

$panel-soso-background-color:      #f0ad4e;
$panel-soso-border-color:          #eea236;
$panel-soso-font-color:            $base-font-color-light;

//cube sizes
$fisrt-row-container-height: 200px;
$second-row-container-height: 200px;
$third-row-container-height: 284px;
$speed-graph-container-width: 180px;



$font-weight: 100;
$label-font-size: 18px;

.dashboard-background {
	background-color: #eee;
	min-height: 80vh;
	position: relative;



	&.lever-5-mood-color  {
		background-color: #f28495;
		color: #fff;
	}

	&.lever-4-mood-color {
		background-color: #fdcc71;

	}

	&.lever-3-mood-color {
		background-color: #17c6eb;
		color: #fff;
	}

	&.lever-2-mood-color {
		background-color: $base-background-color-purple;
	}

	&.lever-1-mood-color {
		background-color: #A0EC70;
		color: #fff;
	}

	.yolko-navbar {
		height: 80px;
		position: relative;

		.burger-bars {
			position: absolute;
			top: 50%;
			left: 10%;
			transform: translate(-50%, -50%);
			float: left;
			color: $base-background-color-purple;
			font-size: 40px;
		}

		.user-avatar {
			height: 50px;
			width: 50px;
			background-color: #ccc;
			border-radius: 50%;
			position: absolute;
			top:50%;
			left: 90%;
			transform: translate(-50%, -50%);
			float: right;
		}
	}

	.num {
		font-size: 64px;
	}
	.dashboard-label {
		font-size: $label-font-size;
		font-weight: 100;
	}

	.avatar-message{
		color: $base-background-color-purple;
		font-weight: 700;
		font-size: 30px;
	}

	.dashboard--presentation-ctrls-container {
		font-weight: $font-weight;
		padding-top: 40px;
		margin-bottom: 40px;

		.num-attendees-container {
			height: $fisrt-row-container-height;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
		}

		.stopwatch-container{
			height: $fisrt-row-container-height;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			justify-content: center;

			.chronometer {
				font-size: 48px;
			}

			.media-controls {
				font-size: 30px;
				width: 140px;
				display: flex;
				align-items: center;
				justify-content: space-between;

				.active-media-btn {
					color:$base-background-color-purple;
				}
			}
		}

		.dashboard--questions-container {
			height: $fisrt-row-container-height;
			justify-content: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

	}

	.dashboard--second-row-container{
		font-size: 64px;
		font-weight: $font-weight;
		margin-bottom: 40px;

		.likes-container {
			height: $second-row-container-height;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
		}

		.mood-container {
			height: $second-row-container-height;
			display: flex;
			flex-direction: column;
			text-align: center;
			justify-content: center;


			.circles {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 20px;

				//.circle-mood {
				//	height: 62px;
				//	width: 62px;
				//	background-color: transparent;
				//	border: 6px solid #5A48FC;
				//	border-radius: 50%;
				//}
				//
				//.is-pulsing {
				//	width: 62px;
				//	height: 62px;
				//	border-radius: 50%;
				//	animation: pulsing 1.5s infinite ease-out;
				//	background: #5A48FC;
				//}
				//
				//@keyframes pulsing {
				//	0% {box-shadow: 0px 0px 0px 0px #5A48FC;}
				//	100% {box-shadow: 0px 0px 0px 50px rgba(0, 0, 0, 0.0);}
				//}
			}
		}

		.dislikes-container{
			height: $second-row-container-height;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
		}
	}

	.dashboard--primary-graphs-container {
		padding-bottom: 80px;

		.cant-hear-container {
			height: $third-row-container-height;
			display: flex;
			align-items: center;
			flex-direction: column;
			position: relative;


			.percentage {
				font-size: 48px;
				font-weight: bold;
				position: absolute;
			}

			.dashboard-bad-color {
				color: $base-background-color-purple;
			}

			.cant-hear-graph {
				display: flex;
				align-items: center;
				justify-content: center;
				.ct-series-a .ct-slice-donut{
					stroke: #5a48fc;
				}
				.ct-series-b .ct-slice-donut{
					stroke: #fff;
				}
			}
		}

		.speed-container {
			height: $third-row-container-height;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;

			.speed-graph-message-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;

				.graph-container {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					width: $speed-graph-container-width;

					.triangle {
						font-size: 80px;
						color: #fff;
					}

					.bg-circle {
						height: 52px;
						width: 52px;
						border-radius: 50%;
						background-color: #fff;
					}

					.is-active-circle-too-slow {
						color: #624DD6;
					}
					.is-active-circle-go-faster {
						color: #624DD6;
						opacity: .6;
					}
					.is-active-circle-we-good {
						background-color: #624DD6;
					}
					.is-active-circle-go-slower {
						color: #624DD6;
						opacity: .6;
					}
					.is-active-circle-too-fast {
						color: #624DD6;
					}
				}

				.message {
					color: #624DD6;
					text-align: center;
					font-size: 18px;
					font-weight: bold;
					padding-bottom: 10px;
				}
			}

		}

		.lost-container {
			height: $third-row-container-height;
			display: flex;
			align-items: center;
			flex-direction: column;
			position: relative;

			.percentage {
				font-size: 48px;
				font-weight: bold;
				position: absolute;
			}

			.panic-graph {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				.ct-series-a .ct-slice-donut{
					stroke: #5a48fc;
				}
				.ct-series-b .ct-slice-donut{
					stroke: #e4e3e4;
				}
			}

			.panic-graph-bg-white {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				.ct-series-a .ct-slice-donut{
					stroke: #5a48fc;
				}
				.ct-series-b .ct-slice-donut{
					stroke: #fff;
				}
			}
		}
	}

	.reset-btn-container {
		position: fixed;
		bottom: 30px;
		right: 50px;
		z-index: 999;

		.reset-control-btn {
			margin-left: 10px;
			height: 44px;
			width: 44px;
			border-radius: 50%;
			font-size: 24px;
			border: none;
		}


		.fab {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			position: relative;
			background-color: #ccc;
			cursor: pointer;
			transition: .3s cubic-bezier(.41,-0.86,.76,1.89);

			&.open {
				width: 40px;
				height: 40px;
				transition: .3s cubic-bezier(.41,-0.86,.76,1.89);
			}

			.option {
				width: 6px;
				height: 6px;
				overflow: hidden;
				background-color: #fff;
				border-radius: 50%;
				position: absolute;
				top: calc(50% - 3px);
				transition: .3s cubic-bezier(.41,-0.86,.76,1.89);
				display: flex;
				align-items: center;
				justify-content: center;


				&.reply {
					left: calc((115% / 3) - 3px);
				}

				&.love {
					left: calc(55% - 3px);
				}

				&.delete {
					left: calc(((110% / 3) * 2) - 3px);
				}

				&.panic {
					left: calc(((30% / 3) * 2) - 3px);
				}

				i {
					font-size: 20px;
					color: #fff;
					transform: scale(0);
					transition: .5s cubic-bezier(.41,-2,.76,2);
				}

				&.open {
					width: 40px;
					height: 40px;
					background-color: rgba(0,0,0,.3);

					&.reply {
						transform: translate(-60px, -50px);
					}

					&.love {
						transform: translate(-20px, -75px);
					}

					&.delete {
						transform: translate(25px, -50px);
					}

					&.panic {
						transform: translate(-50px, 10px);
					}

					i {
						transform: scale(1);
						transition: .5s cubic-bezier(.41,-2,.76,2);
					}
				}
			}

			.close {
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				overflow: hidden;

				i {
					color: #fff;
					font-size: 20px;
					transform: scale(0);
				}

				&.open {

					i {
						transform: scale(1);
						transition: .5s cubic-bezier(.41,-2,.76,2);
					}
				}
			}
		}

		.woba {
			display: block;
			position: absolute;
			background: #fff;
			border-radius: 100%;
			transform: scale(0);
			opacity: .5;
		}

		.woba.animate {
			animation: ripple .5s linear forwards;
		}

		@keyframes ripple {
			100% {opacity: 0; transform: scale(2.5);}
		}
	}

}

.questions-and-quiz-container {

	.dashboard-tabs {
		margin-top: 70px;
		font-size: 20px;
		display: flex;
		flex-direction: row;
		padding: 0;

		.dashboard-tab {
			color: $base-background-color-purple;
			font-weight: bold;
			width: 50%;
			text-align: center;
			padding: 10px;
			box-sizing: content-box;
			cursor: pointer;
			position: relative;

			.notification-indicator {
				height: 12px;
				width: 12px;
				position: absolute;
				top: 2px;
				background-color: red;
				border-radius: 50%;
			}

			&.active {
				border-bottom: 9px solid $base-background-color-purple;
			}
			&:hover {
				background-color: $base-background-color-purple;
				color: white;
			}
		}
	}

	.dashboard-tab-content {
		color: $base-font-color-dark;
		margin-bottom: 100px;

		.question-list-container {
			padding: 0;

			.no-questions-container {
				color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;

				.no-questions-message {
					background-color: $base-background-color-light;
					text-align: center;
					color: $base-font-color-dark;
					width: 100%;
					padding:  70px 0;
				}
			}

			.question-voting-controls {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;

				.btn-delete {
					border: 1px solid grey;
					padding: 5px 10px;
					font-size: 12px;
					background-color: $base-background-color;
					color: $base-font-color-light
				}
			}
		}
		.pop-quiz-container {
			padding: 0;
			background-color: $base-background-color-light;
			margin-bottom: 100px;

			.quiz-question-container {
				display: flex;
				flex-direction: row;
				align-items: center;
				margin: 15px 0;

				.letter {
					font-size: 25px;
					padding: 8px 15px;
					background-color: $base-background-color-purple;
					margin: 0;
					color: $base-font-color-light
				}

				.input-text {
					height: 51px;
					border-radius: 0;
				}

				input[type=checkbox] {
					display: none;
				}

				label {
					margin: 0;
				}

				.notchecked {
					padding: 10px 10px 0 10px;
					height: 51px;
					background-color: lightgray;
					color: $base-font-color-light;
				}

				.checked {
					padding: 10px 10px 0 10px;
					height: 51px;
					background-color: $base-background-color-purple;
					color: $base-background-color-secondary;
				}
			}

			.fire-quiz-btn-container {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.fire-quiz-btn {
				background-color: $base-background-color-purple;
				border: none;
				color: white;
				font-size: 25px;
				padding: 15px;
				margin: 20px;
				min-width: 50%;
				&:focus {
					outline: 0;
				}
				&:hover {
					color: white;
				}
			}

			.reveal-results-btn {
				background-color: $base-background-color-secondary;
				border: none;
				color: white;
				font-size: 25px;
				padding: 15px;
				margin: 20px;
				min-width: 50%;
				&:focus {
					outline: 0;
				}
				&:hover {
					color: white;
				}
			}
		}
	}
}


.live-chart {
	margin-bottom: 100px;
}
