/***** Chart Styles *****/
.ct-series-a .ct-line {
  stroke: green; }

.ct-series-a .ct-point {
  stroke: green; }

.ct-series-b .ct-line {
  stroke: red; }

.ct-series-b .ct-point {
  stroke: red; }

/***** Panels Styles *****/
.panels-dashboard {
  width: 280px;
  height: 140px;
  margin: 20px 5px;
  background-color: #ecf0f1; }
  .panels-dashboard .panel-body {
    padding: 5px; }
    .panels-dashboard .panel-body .icons-dashboard-center {
      display: flex;
      align-items: center;
      justify-content: center; }
      .panels-dashboard .panel-body .icons-dashboard-center .icon {
        padding-top: 25px; }
    .panels-dashboard .panel-body .reset-btns {
      display: inline-block;
      opacity: .3;
      border-top: 1px solid grey;
      margin-top: 15px;
      width: 100%;
      text-align: center; }
      .panels-dashboard .panel-body .reset-btns .resetbutton {
        background-color: transparent;
        border: none;
        padding: 6px 24px;
        width: 100%; }
        .panels-dashboard .panel-body .reset-btns .resetbutton:hover {
          border: 1px solid grey;
          border-radius: 3px; }

.panel-start-stop-btns {
  background-color: #ecf0f1;
  padding-bottom: 5px; }
  .panel-start-stop-btns .start-stop-meeting-container {
    display: flex;
    align-items: center;
    justify-content: center; }
    .panel-start-stop-btns .start-stop-meeting-container .btns {
      margin: 15px; }

.reset-btns-container {
  margin: 30px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .reset-btns-container .resetbutton {
    margin: 10px; }
  .reset-btns-container .start-new-meeting-button {
    margin-top: 40px; }

.panel-dashboard-bad {
  background-color: #d9534f;
  border-color: #d43f3a;
  color: #fff; }

.panel-dashboard-middle {
  background-color: #f0ad4e;
  border-color: #eea236;
  color: #fff; }

.quiz-dashboard {
  margin-bottom: 30px; }
