@import 'https://fonts.googleapis.com/css?family=Lato:900,700|Karla:400';

//Base Colors
$base-color-primary:            #5B00FB;
$base-color-secondary:          #4FCDFE;
$black:                         #242a36;
$white:                         #fff;
$light-grey:                    #EEE;
$dark-grey:                     #44474c;
$inactive:                      #E1E1E9;

//Font
$font-stack:                     "Lato", sans-serif;
$base-font-size:                  18px;
$label-font-size:                 18px;
$primary-font-color:              #555;
$font-weight:                     100;
$base-font-color-light:           #fff;
$base-font-color-dark:            #555;

//Backgrounds
$base-background-color:           $black;
$base-background-color-dashboard: $light-grey;
$base-background-color-secondary: $base-color-secondary;
$base-background-color-light:     $white;
$base-background-color-purple:    $base-color-primary;
$inactive-background-color:       $inactive;

//Borders
$border-dark-color:               $dark-grey;
$border-light-color:              $white;

//Status Pallete
$success:                         #00F85C;

//Line colors on the Dashboard graph. Right now is disabled.
//$line-color-likes:                $base-background-color-purple;
//$line-color-dislikes:             #dddddd;

//cube sizes for the dashboard grid system
$fisrt-row-container-height:       220px;
$second-row-container-height:      200px;
$third-row-container-height:       350px;
$speed-graph-container-width:      180px;




// bootstrap needs a container when you use a row. If not it adds 15px on the sides of the row for margin
.row { margin: 0 }
.container {
	padding-left: 0;
	padding-right: 0;
}


// default material box-shadow effect:
//box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
//transition: all 0.3s cubic-bezier(.25,.8,.25,1);
//
//&:hover {
//	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
//}


body {
	font-family: $font-stack;
	font-size: $base-font-size;
	color: $primary-font-color;
}

button:focus {
	outline: 0;
}

.btn {
	border-radius: 0;
	&:focus {
		outline: none;
	}
	&:active {
		outline: none;
	}
}

// the code below was composed with: https://typeanything.io/

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1.yolko-greeting {
	font-size: 150px;
	font-weight: 900;
	line-height: 1.20;
	opacity: 1.00;
	margin-top: 0;
	margin-bottom: 26px;
	letter-spacing: -0.72px;
	word-spacing: 0.00px;
	text-transform: capitalize;
}

h2 {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.20;
	opacity: 1.00;
	margin-top: 30px;
	margin-bottom: 9px;
	letter-spacing: 0.00px;
	word-spacing: 2.90px;
	text-transform: none;
}

h3 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.20;
	opacity: 1.00;
	margin-top: 30px;
	margin-bottom: 9px;
	letter-spacing: 0.00px;
	word-spacing: 0.80px;
	text-transform: capitalize;
}

p {
	font-size: 18px;
	font-weight: 400;
}

