body {
	font-family: "Lato", sans-serif;
  //font-family: 'Montserrat', sans-serif;
	color: #555;
}

@font-face {
	font-family: 'Sensei';
	src: url('../assets/fonts/Sensei-Medium.otf');
	src: url('../assets/fonts/Sensei-Medium.ttf');
}

h1 {
	font-family: 'Sensei', 'Montserrat';
	text-transform: uppercase;
}

button:focus {
	outline: 0;
}

// the code below was composed with: https://typeanything.io/

@import 'https://fonts.googleapis.com/css?family=Lato:900,700|Karla:400';

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-family: "Lato", sans-serif;
	font-size: 150px;
	font-weight: 900;
	line-height: 1.20;
	opacity: 1.00;
	margin-top: 0px;
	margin-bottom: 26px;
	letter-spacing: -0.72px;
	word-spacing: 0.00px;
	text-transform: capitalize;
}

h2 {
	font-family: "Lato", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 1.20;
	opacity: 1.00;
	margin-top: 30px;
	margin-bottom: 9px;
	letter-spacing: 0.00px;
	word-spacing: 2.90px;
	text-transform: none;
}

h3 {
	font-family: "Lato", sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.20;
	opacity: 1.00;
	margin-top: 30px;
	margin-bottom: 9px;
	letter-spacing: 0.00px;
	word-spacing: 0.80px;
	text-transform: capitalize;
}

p {
	font-family: "Karla", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.60;
	opacity: 0.75;
	margin-top: 0px;
	margin-bottom: 25px;
	letter-spacing: -0.30px;
	word-spacing: 0.10px;
	text-transform: none;
}



